@model Experiment.Models.Roster

    <h1>My Roster</h1>

    <p>@Html.ActionLink("Add Item", "Add", null, htmlAttributes: new { @class = "btn btn-primary" })</p>
    <div>
      @foreach (var item in Model.Items)
      {
        <div style="padding: 15px; border: solid 1px black; font-size: 15pt">
          <div>@item.FirstName @item.LastName</div>
          <div>@item.Email</div>
        </div>
      }
    </div>
