
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
  <main>
    <ul>
      <li>
        @Html.ActionLink("Distance Converter", "Index","DistanceConverter")
      </li>
      <li>@Html.ActionLink("Order Form","Index","OrderForm")</li>
    </ul>
  </main>
</body>
</html>
