<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - My ASP.NET Application</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="~/Content/ErrorStyles.css" rel="stylesheet" />

</head>
<body class="d-flex flex-column min-vh-100">
  <div class="navbar navbar-dark bg-dark" role="navigation">
    <a class="navbar-brand" href="#">
      <i class="d-none d-md-inline far fa-futbol"></i>
      <span class="d-block d-md-inline"> SPORTS</span>
      <span class="d-block d-md-inline">STORE</span>
    </a>
    @Html.Action("Summary", "Cart")
  </div>
  <div>@Html.Action("Menu", "Nav")</div>
  <div class="container p-2 flex-grow-1">
    @RenderBody()
  </div>
  <footer class="bg-dark text-white text-center">
    &copy; Scott Nortin 2019
  </footer>
  <script src="https://kit.fontawesome.com/0f0c0162b2.js"></script>

</body>
</html>