
@{
  ViewBag.Title = "My Personal Blog";
}

<div>
  <h2>Blog Article</h2>
  <div>My blog starts here...</div>
</div>

<div>
  <h2>Blog Article</h2>
  <div>My blog starts here...</div>
</div>

<div>
  <h2>Blog Article</h2>
  <div>My blog starts here...</div>
</div>
