@model IEnumerable<Blogger.Models.BlogPost>
@{
  ViewBag.Title = "My Personal Blog";
}

<div class="card container">

    @foreach (var item in Model)
    {
      <div><h3>@item.Title</h3></div>
      <div>@item.Posted</div>
      <hr />
      <div>@item.Text</div>
      <br />
    }

  </div>

@Html.PageLinks((PagingInfo)ViewBag.PagingInfo, page => Url.Action("Index", new { page}))
