@model Porfolio.Models.Contacts

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactReply</title>
</head>
<body>
  <div>
    <h1>
      Thank You, @Model.Name
    </h1>
    <p>Your email has been received!</p>
  </div>
</body>
</html>
