@import url('https://fonts.googleapis.com/css?family=Open+Sans|Turret+Road&display=swap');

body {
  padding-top: 6em;
  font-family: 'Open Sans', sans-serif;
}
.navbar {
  font-family: 'Turret Road', cursive;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Turret Road', cursive;
}

@media only screen and (min-width: 400px) {
  body {
    padding-top: 4em;
  }
}
