@model SportsStore.Models.ProductListViewModel

@{
  ViewBag.Title = "Products";
}

  <div class="row">
    @foreach (var item in Model.Products)
    {
      <div class="col-md-6">@Html.Partial("ProductSummary", item)</div>
    }
  </div>

<div>
  @Html.PageLinks(Model.PagingInfo,
  page => Url.Action("List",
  new { page, category = Model.CurrentCategory }))
</div>
