@model System.Exception
@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Error</title>
</head>
<body>
  <p>Sorry - we couldn't send the email to confirm your RSVP.</p>
  <p>@Model.Message</p>
</body>
</html>
