@{
    ViewBag.Title = "Welcome!";
}

<h2>Welcome!</h2>
<p>Follow the link below to get subscribed to our weekly newsletter</p>

@Html.ActionLink("Subscribe", "Subscribe", null, new { @class = "btn btn-danger btn-lg" })

