
    <h1>Experiments</h1>
    <ul>
      <li>@Html.ActionLink("Temperature Converter", "Index", "TempConvert")</li>
      <li>@Html.ActionLink("MPG Calculator", "Index", "MpgCalc")</li>
      <li>@Html.ActionLink("Roster", "Index", "Roster")</li>
    </ul>

